* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #e43500;
    padding-top: 16px;
    color: #fff;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header > .container,
footer > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.container-flex {
    display: flex;
}

section {
    padding: 48px 0;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border:rgb(from color r g b);
    background-color: rgb(121, 121, 121);
    color: #ffffff;
    font-size: 19px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input {
    width: 100%;
    display: block;
    padding: 8px;
}

form {
    max-width: 360px;
}

footer {
    background-color: #e43500;
    padding-top: 16px;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}